<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="" class="text-nowrap logo-img">
        <img src="https://img.freepik.com/free-vector/school-logo-template_23-2149713030.jpg?ga=GA1.1.318993914.1721073795&semt=ais_hybrid" width="250" height="140" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin" aria-expanded="false" >
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/contactus" aria-expanded="false">
            <span>
              <i class="ti ti-address-book"></i>
            </span>
            <span class="hide-menu">Contact</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/adminmap"  >
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">map</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Categories</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/buses" aria-expanded="false">
            <span>
              <i class="ti ti-bus"></i>
            </span>
            <span class="hide-menu">Buses</span>
          </a>
        </li>
       
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/children" aria-expanded="false">
            <span>
              <i class="ti ti-mood-boy"></i>
            </span>
            <span class="hide-menu">Children</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/teachers" aria-expanded="false">
            <span>
              <i class="ti ti-school"></i>
            </span>
            <span class="hide-menu">Teachers</span>
          </a>
        </li>
      
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/drivers" aria-expanded="false">
            <span>
              <i class="ti ti-man"></i>
            </span>
            <span class="hide-menu">Drivers</span>
          </a>
        </li>

        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/parents" aria-expanded="false">
            <span>
              <i class="ti ti-friends"></i>
            </span>
            <span class="hide-menu">Parents</span>
          </a>
        </li>
        
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/testimonials" aria-expanded="false">
            <span>
              <i class="ti ti-message"></i>
            </span>
            <span class="hide-menu">Testimonials</span>
          </a>
        </li>
        <li class="sidebar-item d-none">
          <a class="sidebar-link" routerLink="/admin/userreports" aria-expanded="false">
            <span>
              <i class="ti ti-man"></i>
            </span>
            <span class="hide-menu">Users Reports</span>
          </a>
        </li>

        
      
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">PAGES</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/userreports"  aria-expanded="false">
            <span>
              <i class="ti ti-report"></i>
            </span>
            <span class="hide-menu">Users Reports</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/admin/content" aria-expanded="false">
            <span>
              <i class="ti ti-file-description"></i>
            </span>
            <span class="hide-menu">Manage Content</span>
          </a>
        </li>
      </ul>
      
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>