<app-sidebar></app-sidebar>

<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div class="body-wrapper">

   
    <app-admin-navbar></app-admin-navbar>
    
    
    <div class="container-fluid">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
               

                <div class="row justify-content-between">
                  <h3 class="card-title fw-semibold mb-4 col-4 col-md-2 btn">All Buses</h3> 
                  <button class="card-title fw-semibold mb-4  col-md-2 btn btn-outline-primary" type="button" (click)="OpenCreatDailog()">Add Bus</button>
          </div>

                <div class="table-responsive">
                  <table class="table table-striped text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">Bus</h4></th>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">Capacity</h4></th>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">Driver(username)</h4></th>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">Teacher(username)</h4></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let bus of bus.AllBuses">
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-1">{{bus.busnumber}}</h4></td>
                        <td class="border-bottom-0"><p class="mb-0 fw-normal">{{bus.childrennumber}}</p></td>
                        <td class="border-bottom-0"><div class="d-flex align-items-center gap-2"><p class="mb-0 fw-normal">{{bus.driver_name}}</p></div></td>
                        <td class="border-bottom-0"><p class="mb-0 fw-normal">{{bus.teacher_name}}</p></td>
                        <td>
                            <button (click)="OpenDeleteDailog(bus.busid)" class="btn btn-danger m-1">Delete</button>
                            <button class="btn btn-info m-1" (click)="openUpdateDailog(bus)">Update</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Delete Dialog -->
            <ng-template #deleteDailog>
              <h1 mat-dialog-title>Delete bus</h1>
              <div mat-dialog-content>
                Would you like to delete this bus?
              </div>
              <div mat-dialog-actions>
                <button mat-button mat-dialog-close="no" class="m-2" style="background-color: #ff1e00; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">No</button>
                <button mat-button mat-dialog-close="yes" class="m-2" cdkFocusInitial style="background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">Yes</button>
              </div>
            </ng-template>

            <!-- Update Dialog -->
            <ng-template #updateBusDialog>
              <h2 mat-dialog-title>Update Bus Information</h2>
              <mat-dialog-content class="mat-typography">
                <form class="example-form" [formGroup]="updateForm">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Bus Number</mat-label>
                    <input type="text" matInput formControlName="busnumber" [(ngModel)]="pData.busnumber">
                    <mat-error *ngIf="updateForm.controls['busnumber'].hasError('required')">
                      busnumber is <strong>required</strong> 
                    </mat-error>
                  </mat-form-field>
                  <br>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Capacity</mat-label>
                    <input type="number" matInput formControlName="childrennumber" [(ngModel)]="pData.childrennumber">
                    <mat-error *ngIf="updateForm.controls['childrennumber'].hasError('required')">
                      Bus Capacity is <strong>required</strong> 
                    </mat-error>
                  </mat-form-field>
                  <br>
              
                  <mat-form-field>
                    <mat-label>Teacher</mat-label>
                    <mat-select [(value)]="pData.teacherid" >
                      <mat-option *ngFor="let teacher of user.AllTeachers" [value]=teacher.userid>{{teacher.firstname}} {{teacher.lastname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <input type="text" matInput class="d-none" formControlName="teacherid" [(ngModel)]="pData.teacherid">
                  
                  <br>

                  <mat-form-field>
                    <mat-label>Driver</mat-label>
                    <mat-select [(value)]="pData.driverid" >
                      <mat-option *ngFor="let driver of user.AllDrivers" [value]=driver.userid>{{driver.firstname}} {{driver.lastname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <input type="text" matInput class="d-none" formControlName="driverid" [(ngModel)]="pData.driverid">
                  <br>


                </form>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>Cancel</button>
                <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="update()" [disabled]="!updateForm.valid">Update</button>
              </mat-dialog-actions>
            </ng-template>
