<div class="dashboard-container">
  <!--  <app-sidebar></app-sidebar>  Sidebar on the left -->






  <div>
    <h3>Select Child's Address to Add as Waypoint</h3>
    <ul>
      <li *ngFor="let child of children">
        <span (click)="addWaypoint(child.address)" style="cursor: pointer; color: blue;">
          {{ child.name }} - {{ child.address }}
        </span>
      </li>
    </ul>
  </div>
    
  <app-maps 
  [origin]="origin" 
  [destination]="destination" 
  [waypoints]="waypoints" 
  [stops]="stops">
  </app-maps>

      
</div>
