

<app-sidebar></app-sidebar>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div class="body-wrapper">
  
<div class="dashboard-container">
  <!--  <app-sidebar></app-sidebar>  Sidebar on the left -->
  <div>
    <h3 class="m-2">Select Child's Address to Add as Waypoint</h3>
    <ul>
      <li *ngFor="let child of children" class="m-2">
        <span (click)="addWaypoint(child.address)" style="cursor: pointer; color: blue;">
          {{ child.name }} - {{ child.address }}
        </span>
      </li>
    </ul>
  </div>
    
  <app-maps 
  [origin]="origin" 
  [destination]="destination" 
  [waypoints]="waypoints" 
  [stops]="stops">
  </app-maps>

      
</div>
