
<section class="" id="about">
        <a routerLink="/admin/dashboard" *ngIf="this.user.User.roleid==1" class="btn btn-info m-4" >Back To Home</a>
        <a routerLink="/teacher" *ngIf="this.user.User.roleid==2" class="btn btn-info m-4" >Back To Home</a>
        <a routerLink="/home" *ngIf="this.user.User.roleid==3" class="btn btn-info m-4" >Back To Home</a>
        <a routerLink="/driver" *ngIf="this.user.User.roleid==4" class="btn btn-info m-4" >Back To Home</a>
    
    <div class="container">
        <div class="row align-items-center flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text go-to row">
                    <h3 class="dark-color col" mb-4>{{this.user.User.firstname}}'s Profile </h3>
                    <a class="btn btn-primary col-3" (click)="openUpdateDialog(this.user.User)">Update Profile</a>
                    
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>First Name</label>
                                <p>{{this.user.User.firstname}}</p>
                            </div>
                            <div class="media">
                                <label>Username</label>
                                <p>{{this.user.User.username}}</p>
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>{{this.user.User.address}}</p>
                            </div>
                            <div class="media">
                                <label>Role</label>
                                <p *ngIf="this.user.User.roleid==1">Admin</p>
                                <p *ngIf="this.user.User.roleid==2">Teacher</p>
                                <p *ngIf="this.user.User.roleid==3">Parent</p>
                                <p *ngIf="this.user.User.roleid==4">Driver</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>Last Name</label>
                                <p>{{this.user.User.lastname}}</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>{{this.user.User.phone}}</p>
                            </div>
                            <div class="media">
                                <label>Gender</label>
                                <p>{{this.user.User.gender}}</p>
                            </div>
                            <div class="media">
                                <label>Joined At</label>
                                <p>{{this.user.User.createdDate | date}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar">
                    <img src="../../../assets/Images/{{this.user.User.Imagepath}}" *ngIf="this.user.User.Imagepath != null" ><!--    ../../../assets/Images/{{user.Imagepath}}    -->
                    <img src="../../../assets/Images/man.jpg" *ngIf="this.user.User.Imagepath == null">
                </div>
            </div>
        </div>
        
    </div>
</section>



<ng-template #updateUserDailog>
    <h2 mat-dialog-title>Update My Information</h2>
  <mat-dialog-content class="mat-typography">
      <form class="example-form" [formGroup]="UserUpdateForm">
          <mat-form-field class="example-full-width">
            <mat-label>first name</mat-label>
            <input type="text" matInput formControlName="firstname" [(ngModel)] ="UData.firstname"  >
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <mat-label>last name</mat-label>
              <input type="text" matInput formControlName="lastname" [(ngModel)] = "UData.lastname">
            </mat-form-field>
  
            <mat-form-field class="example-full-width">
              <mat-label>phone</mat-label>
              <input type="text" matInput formControlName="phone" [(ngModel)]="UData.phone">
            </mat-form-field>
          
          
            <mat-form-field class="example-full-width">
              <mat-label>address</mat-label>
              <input type="text" matInput formControlName="address" [(ngModel)]="UData.address">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>username</mat-label>
              <input type="text" matInput formControlName="username" [(ngModel)]="UData.username">
            </mat-form-field>
           

            <mat-radio-group formControlName="gender" [(ngModel)]="UData.gender" class="d-flex flex-row">
              <mat-radio-button value="Male" class="me-3">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>


            <div>
              <input type="file" formControlName="Imagepath"  #file (change)="uploadImage(file.files)">
            </div>
  
        </form>
  
  
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="update()">Update</button>
  </mat-dialog-actions>
  
