<!-- Map Component -->
<app-maps
  [busMarkers]="busMarkers"
  [busStops]="busStops"
  (busMarkerClicked)="onBusMarkerClicked($event)"
  (stopMarkerClicked)="onStopMarkerClicked($event)">
</app-maps>

<div #mapContainer class="map-container"></div>
<button (click)="toggleStopsVisibility()">
  Toggle Stops
</button>
<!-- Card to display times -->
<div class="time-card" *ngIf="stopTimes.length > 0 || totalTripTime">
  <h4>Trip Information</h4>
  <div *ngFor="let time of stopTimes; let i = index">
    Stop {{ i + 1 }}: {{ time }}
  </div>
  <hr />
  <div>Total Trip Time: {{ totalTripTime }}</div>
</div>
