<app-navbar></app-navbar>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>About</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>About</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>About {{home.homepageTitle.contentvalue}}</h2>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>{{home.aboutusContent.contentvalue}}</p>
            <ul>
              <li><i class="ri-check-double-line"></i>Real-Time Tracking: With our user-friendly interface, you can track the real-time location of the school bus on a map, ensuring you know exactly where your child is at all times.</li>
             
              <li><i class="ri-check-double-line"></i> Notifications: Receive timely notifications about the bus's arrival and departure times, delays, and any route changes, so you are always in the loop.</li>
             
              <li><i class="ri-check-double-line"></i> Safety and Security: Our platform is built with the highest standards of security to ensure that your child's location data is protected and only accessible to authorized users.</li>

              <li><i class="ri-check-double-line"></i>Ease of Use: Designed with simplicity in mind, our website is easy to navigate, making it accessible for all parents, regardless of their technical proficiency.</li>
            </ul>
  
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../assets/Images/mohammad sameer.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Mohammad AbuBaker</h4>
                <span>Full-Stack Web Developer</span>
                <p class="d-none">Explicabo voluptatem mollitia et repellat</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../assets/Images/ahmad obeidat.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ahmad Obeidat</h4>
                <span>Full-Stack Web Developer</span>
                <p class="d-none">Aut maiores voluptates amet et quis</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../assets/Images/jarrah.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ahmad al-Jarrah</h4>
                <span>Full-Stack Web Developer</span>
                <p class="d-none">Quisquam facilis cum velit laborum corrupti</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start">
              <div class="pic"><img src="../../assets/Images/ayoub.jpg" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Ayoub Smadi</h4>
                <span>Full-Stack Web Developer</span>
                <p class="d-none">Dolorum tempora officiis odit laborum officiis</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->
  <app-footer></app-footer>