<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="" class="text-nowrap logo-img">
        <img src="https://img.freepik.com/free-vector/school-logo-template_23-2149713030.jpg?ga=GA1.1.318993914.1721073795&semt=ais_hybrid" width="250" height="140" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/parent/notifications">
            <span>
              <i class="ti ti-notification" ></i>
            </span>
            <span class="hide-menu">notifications</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/home" aria-expanded="false">
            <span>
              <i class="ti ti-home"></i>
            </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>
        <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/parent/childAttendance" aria-expanded="false">
                  <span>
                    <i class="ti ti-bus"></i>
                  </span>
                  <span class="hide-menu">Children Attendance</span>
                </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/account/profile" *ngIf="isAuthenticated" aria-expanded="false">
            <span>
              <i class="ti ti-user fs-6"></i>
            </span>
            <span class="hide-menu">My Profile</span>
          </a>
        </li>
     
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/parent/map"  >
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">map</span>
          </a>
        </li>
        <!-- <li class="sidebar-item">
          <a class="sidebar-link" >
            <span>
              <i class="ti ti-notification" mat-button [matMenuTriggerFor]="menu"></i>
            </span>
            <span class="hide-menu">notifications</span>
          </a>
        </li>
        <mat-menu #menu="matMenu">
          <button *ngFor="let notification of notifications" mat-menu-item>{{notification}}</button>
        </mat-menu> -->
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/parent/map" (click)="logout()" >
            <span>
              <i class="ti ti-logout fs-6"></i>
            </span>
            <span class="hide-menu">logout</span>
          </a>
        </li> 
 
      </ul>
    
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>