<app-navbar></app-navbar>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs mb-5">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Contact</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Contact</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{home.address.contentvalue}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{home.email.contentvalue}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{home.phoneNumber.contentvalue}}</p>
              </div>
            </div>
          </div>
          <div class="col-lg-8 mt-5 mt-lg-0">

            <form [formGroup]="ContactUsForm"  class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text"  class="form-control"  formControlName="userName" placeholder="Your Name" maxlength="50" >
                  <span class="text-danger"  *ngIf="ContactUsForm.controls['userName'].hasError('required')">Your Name is <strong>Required</strong></span>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control"  formControlName="userEmail" placeholder="Your Email" maxlength="50">
                  <span class="text-danger"  *ngIf="ContactUsForm.controls['userEmail'].hasError('required')">Your Email is <strong>Required</strong></span>
                  <span class="text-danger"  *ngIf="ContactUsForm.controls['userEmail'].hasError('email')">Email is <strong>Not Valid</strong></span>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control"  formControlName="subject" placeholder="Subject" maxlength="40">
                <span class="text-danger"  *ngIf="ContactUsForm.controls['subject'].hasError('required')">Subject is <strong>Required</strong></span>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control"  rows="5" formControlName="message" placeholder="Message" maxlength="1000"></textarea>
                <span class="text-danger"  *ngIf="ContactUsForm.controls['message'].hasError('required')">Message is <strong>Required</strong></span>
                <span class="text-danger"  *ngIf="ContactUsForm.controls['message'].hasError('minlength')">Message is <strong>To Short</strong></span>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit" (click)="Send()" [disabled]="!ContactUsForm.valid">Send Message</button></div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
  </main>
  <!-- End #main -->
  <app-footer></app-footer>