

<app-sidebar></app-sidebar>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div class="body-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div class="container-fluid">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="row">
                    <h5 class="card-title fw-semibold mb-4 col-4 col-md-2 btn">All Children</h5>
                    <h5 class="card-title fw-semibold mb-4 col-4 col-md-2 btn btn-outline-primary"><a>Add Child</a></h5></div>
                <div class="table-responsive">
                  <table class="table table-striped text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Firstname</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Lastname </h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Address</h6>
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let child of home.allChildren" >
                        <td class="border-bottom-0"><h6 class="fw-semibold mb-0"><a>{{child.firstname}} {{child.lastname}}</a></h6></td>
                        <td class="border-bottom-0">
                            <h6 class="fw-semibold mb-1">{{child.busnumber}}</h6>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{child.address}}</p>
                        </td>
                        <td>
                            <button (click)="OpenDeleteDailog(child.Childid)" class="btn btn-danger m-1">Delete</button>
                            <button class="btn btn-info m-1">Update</button></td>
                        
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <ng-template #deleteDailogChild>
              <h1 mat-dialog-title>Delete Child</h1>
  <div mat-dialog-content>
    Would you like to delete this Child?
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close="no" class="m-2"  style="background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">No</button>
    <button mat-button mat-dialog-close="yes" class="m-2"  cdkFocusInitial style="background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">Yes</button>
  </div>