

<app-sidebar></app-sidebar>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div class="body-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div class="container-fluid">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
               
                  <div class="row justify-content-between">
                    <h3 class="card-title fw-semibold mb-4 col-4 col-md-2 btn">All Children</h3> 
                    <button class="card-title fw-semibold mb-4  col-md-2 btn btn-outline-primary" type="button" (click)="openAddDailog()">Add Child</button>
                  </div>
                  <div class="row mb-4">
                    <div class="col-12">
                      <input type="text" class="form-control" placeholder="Search by name..." [(ngModel)]="searchText">
                    </div>
                  </div>
                  <table class="table table-striped text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Firstname</h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Lastname </h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Address</h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Bus Number</h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Parent Name</h4>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let child of child.allChildren  | filter:searchText" >
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-0"><a>{{child.firstname}}</a></h4></td>
                        <td class="border-bottom-0">
                            <h4 class="fw-semibold mb-1">{{child.lastname}}</h4>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{child.address}}</p>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{child.busnumber}}</p>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{child.parent}}</p>
                        </td>
                        <td>
                            <button (click)="OpenDeleteDailog(child.childid)" class="btn btn-danger m-1">Delete</button>
                            <button class="btn btn-info m-1" (click)="OpenUpdateDialog(child)">Update</button></td>
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
    </div>
            
            <ng-template #deleteDailog>
              <h1 mat-dialog-title>Delete Child</h1>
              <div mat-dialog-content>
                Would you like to delete this Child?
              </div>
              <div mat-dialog-actions>
                <button mat-button mat-dialog-close="no" class="m-2"  style="background-color: #007bff; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">No</button>
                <button mat-button mat-dialog-close="yes" class="m-2"  cdkFocusInitial style="background-color: #e43419; color: white; border: none; padding: 10px 20px; font-size: 16px; border-radius: 5px;">Yes</button>
              </div>
            </ng-template>



            <!-- Update Child Dialog -->
            <ng-template #UpdateChildDailog>
              <h2 mat-dialog-title>Update Child Information</h2>
              <mat-dialog-content class="mat-typography">
                <form class="example-form" [formGroup]="UpdateChildForm">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>First Name</mat-label>
                    <input type="text" matInput formControlName="firstname" [(ngModel)]="prevChild.firstname">
                  </mat-form-field>

                  <br>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input type="text" matInput formControlName="lastname" [(ngModel)]="prevChild.lastname">
                  </mat-form-field>

                  <br>
               
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Address</mat-label>
                    <input type="text" matInput formControlName="address" [(ngModel)]="prevChild.address">
                  </mat-form-field>
               
                  <br>
                
                  <mat-form-field>
                    <mat-label>Parent</mat-label>
                    <mat-select [(value)]="prevChild.parentid" >
                      <mat-option *ngFor="let paren of user.AllParents" [value]=paren.userid>{{paren.firstname}} {{paren.lastname}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <input type="text" matInput class="d-none" formControlName="parentid" [(ngModel)]="prevChild.parentid">
                  
                  <br>

                  <mat-form-field>
                    <mat-label>Bus</mat-label>
                    <mat-select [(value)]="prevChild.busid" >
                      <mat-option *ngFor="let buss of bus.AllBuses" [value]=buss.busid>{{buss.busnumber}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <input type="text" matInput class="d-none" formControlName="busid" [(ngModel)]="prevChild.busid">
                  <br>
                </form>
              </mat-dialog-content>
              <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close="no" >Cancel</button>
                <button mat-button mat-dialog-close="yes" [mat-dialog-close]="true"cdkFocusInitial (click)="UpdateChild()" [disabled]="!UpdateChildForm.valid">Update</button>
              </mat-dialog-actions>
            </ng-template>
