<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
  
      <h1 class="logo me-auto"><a routerLink="">{{content.homepageTitle.contentvalue}}</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a routerLink="/home"class="active">Home</a></li>
  
          <li><a routerLink="/aboutus">About</a></li>           
  
          <li><a routerLink="/Testimonial">Testimonials</a></li>
  
          <li><a routerLink="/contactus">Contact</a></li>
         
          <!-- <li><a routerLink="/children" *ngIf="isAuthenticated">My Children</a></li> -->
          
          <li><a routerLink="/account/profile" *ngIf="isAuthenticated">My Profile</a></li>    <!--<img src="../../../assets/Temp2/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle mx-1">-->
                       <!--Remove when Done With admin dashboard-->
          <!-- <li><a routerLink="/admin">Admin</a></li>    
          <li><a routerLink="/teacher">Teacher</a></li>  
          <li><a routerLink="/driver">Driver</a></li>   -->

          <li *ngIf="isAuthenticated && userRole == 1"><a [routerLink]="['/admin']">Admin Dashboard</a></li>
          <li *ngIf="isAuthenticated && userRole == 2"><a [routerLink]="['/teacher']">Teacher Dashboard</a></li>
          <li *ngIf="isAuthenticated && userRole == 3"><a [routerLink]="['/parent']">Parent Dashboard</a></li>
          <li *ngIf="isAuthenticated && userRole == 4"><a [routerLink]="['/driver']">Driver Dashboard</a></li>
      
          <li><a routerLink="/account/login" class="getstarted" *ngIf="isAuthenticated!=true">Log in</a></li>
          <li><a (click)="logout()" class="getstarted" *ngIf="isAuthenticated">Logout</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->