
<h2 mat-dialog-title>Add User</h2>
<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="addUserForm">
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">First Name: </mat-label>
      <input type="text" matInput formControlName="Firstname">
      <mat-error *ngIf="addUserForm.controls['Firstname'].hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Last Name:</mat-label>
      <input type="text" matInput formControlName="Lastname">
      <mat-error *ngIf="addUserForm.controls['Lastname'].hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Username:</mat-label>
      <input type="text" matInput formControlName="Username">
      <mat-error *ngIf="addUserForm.controls['Username'].hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['Username'].hasError('minlength')">
        Username must be at least 5 characters long
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;"><mat-icon matPrefix>perm_identity</mat-icon> Role</mat-label>
      <!-- <input type="number" matInput formControlName="Roleid">  -->
      <mat-select class="col-10" formControlName="Roleid">
        <mat-option *ngFor="let role of home.AllRoles" [value]=role.roleid>{{role.rolename}}</mat-option>
      </mat-select>
      <mat-error *ngIf="addUserForm.controls['Roleid'].hasError('required')">
        Role is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Email:</mat-label>
      <input type="email" matInput formControlName="Email">
      <mat-error *ngIf="addUserForm.controls['Email'].hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['Email'].hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Password:</mat-label>
      <input type="password" matInput formControlName="Password">
      <mat-error *ngIf="addUserForm.controls['Password'].hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['Password'].hasError('minlength')">
        Password must be at least 8 characters long
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['Password'].hasError('maxlength')">
        Password cannot be more than 40 characters long
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Phone:</mat-label>
      <input type="text" matInput formControlName="Phone">
      <mat-error *ngIf="addUserForm.controls['Phone'].hasError('minlength')">
        Phone must be at least 10 characters long
      </mat-error>
      <mat-error *ngIf="addUserForm.controls['Phone'].hasError('maxlength')">
        Phone cannot be more than 14 characters long
      </mat-error>
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label style="margin-right: 20px;">Address:</mat-label>
      <input type="text" matInput formControlName="Address">
    </mat-form-field>
    <br>
    <mat-radio-group formControlName="Gender" class="example-full-width">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
    </mat-radio-group>
    <div>
      <input type="file" formControlName="Imagepath" #file (change)="uploadImage(file.files)">
    </div>
 
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="add()" [disabled]="!addUserForm.valid">Add</button>
</mat-dialog-actions>







 



