<app-teacher-sidebar></app-teacher-sidebar>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<div class="body-wrapper">
    <app-teacher-navbar></app-teacher-navbar>
       <!-- <button (click)="openAddDailog()" type="button" mat-button >add child</button> -->
       <div class="container-fluid col-12">
        <div class=" d-flex align-items-stretch">
            <div class="card  w-100">
              <div class="card-body  p-4">
                <div class="row justify-content-between">
                        <h3 class="card-title fw-semibold mb-4 col-4 col-md-2 btn">All Drivers</h3> 
                </div>
                   
                <div class="table-responsive ">
                  <table class="table table-striped text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                      
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Full Name</h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">phone Number </h4>
                        </th>
                        <th class="border-bottom-0">
                          <h4 class="fw-semibold mb-0">Address</h4>
                        </th>
                        <th class="border-bottom-0">
                            <h4 class="fw-semibold mb-0">Role</h4>
                          </th>
                          <th class="border-bottom-0">
                            <h4 class="fw-semibold mb-0">username</h4>
                          </th>


                         <th class="border-bottom-0">
                            <h4 class="fw-semibold mb-0">gender</h4>
                         </th>
                         <th class="border-bottom-0">
                            <h4 class="fw-semibold mb-0">Created date</h4>
                         </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let Driver of driver.AllDrivers" >
                        
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-0"><a>{{Driver.firstname}} {{Driver.lastname}}</a></h4></td>
                        <td class="border-bottom-0">
                            <h4 class="fw-semibold mb-1">{{Driver.phone}}</h4>
                        </td>
                        <td class="border-bottom-0">
                          <p class="mb-0 fw-normal">{{Driver.address}}</p>
                        </td>
                        <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{Driver.rolename}}</p>
                          </td>

                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{Driver.username}}</p>
                          </td>
                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{Driver.gender}}</p>
                          </td>
                          <td class="border-bottom-0">
                            <p class="mb-0 fw-normal">{{Driver.createdDate | date}}</p>
                          </td>
                         
                          <td>

                       </td>
                       
                      </tr> 
                    </tbody>
                  </table>
                </div>
              </div>
            </div>






<!--             
<div *ngFor="let notification of notifications">
  <p>{{ notification }}</p>
</div>

<button (click)="sendNotification()">Send Test Notification</button>
 -->
