<app-navbar></app-navbar>

<form class="example-form col-12 row justify-content-center">
    <mat-form-field class="example-full-width">
        <input matInput disabled value="Google">
    </mat-form-field>
    
    <table class="example-full-width mt-5 col-10" cellspacing="0" ><tr>
        <td class="row justify-content-center">
            <mat-form-field class="col-9">
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>
        </td>
    </tr>
    
    <tr>
        <td class="row justify-content-center">
            <mat-form-field class="col-9">
                <mat-label>Last name</mat-label>
                <input matInput>
            </mat-form-field>
        </td>
    </tr>
    
    <tr>
        <td class="row justify-content-center">
            <mat-form-field class="col-9">
                <mat-label>Username</mat-label>
                <input matInput>
            </mat-form-field>
        </td>
    </tr>
    
    <tr>
        <td class="row justify-content-center">
            <mat-form-field class="col-9">
                <mat-label>Address</mat-label>
                <input matInput>
            </mat-form-field>
        </td>
    </tr>
    <tr class="row justify-content-center">
           <input  class="btn btn-primary m-2 col-6 col-md-4" value="Update Profile">
    </tr>
    </table>
    
</form>
<app-footer></app-footer>