<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed">
<!-- Sidebar Start -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="" class="text-nowrap logo-img">
        <img src="https://img.freepik.com/free-vector/school-logo-template_23-2149713030.jpg?ga=GA1.1.318993914.1721073795&semt=ais_hybrid" width="250" height="140" alt="" />
      </a>
      <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/home" aria-expanded="false">
            <span>
              <i class="ti ti-home"></i>
            </span>
            <span class="hide-menu">Home</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/driver/drivermap" aria-expanded="false">
            <span>
              <i class="ti ti-map"></i>
            </span>
            <span class="hide-menu">Map</span>
          </a>
        </li>

        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Categories</span>
        </li>
    
        <li class="sidebar-item">
          <a class="sidebar-link" routerLink="/driver/tripchildren" aria-expanded="false">
            <span>
              <i class="ti ti-mood-boy"></i>
            </span>
            <span class="hide-menu">Children</span>
          </a>
        </li>
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Account</span>
        </li>
    
        <li class="sidebar-item">
          <a class="sidebar-link" (click)="logout()" aria-expanded="false">
            <span>
              <i class="ti ti-logout fs-6"></i>
            </span>
            <span class="hide-menu">Logout</span>
          </a>
        </li>
      </ul>
      <div class="unlimited-access hide-menu bg-light-primary position-relative mb-7 mt-5 rounded">
        <div class="d-flex">
          <div class="unlimited-access-title me-3">
            </div>
          <div class="unlimited-access-img">
            <img src="../../../assets/Temp2/images/backgrounds/rocket.png" alt="" class="img-fluid">
          </div>
        </div>
      </div>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>