<app-sidebar></app-sidebar>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div class="body-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <div class="container-fluid">
        <div class="col-lg-12 d-flex align-items-stretch">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="row">
                    <h3 class="card-title fw-semibold mb-4 col-4 col-md-2 btn">Page Contents</h3>
                  <table class="table table-striped text-nowrap mb-0 align-middle">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">PAGE NAME</h4></th>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">CONTENT KEY</h4></th>
                        <th class="border-bottom-0"><h4 class="fw-semibold mb-0">CONTENT VALUE</h4></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let pageContent of content.AllPageContent">
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-1">{{pageContent.pagename}}</h4></td>
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-1">{{pageContent.contentkey}}</h4></td>
                        <td class="border-bottom-0"><h4 class="fw-semibold mb-1">{{pageContent.contentvalue.length > 25?(pageContent.contentvalue | slice:0:25)+ '...':pageContent.contentvalue}}</h4></td>
                        <td>
                            <button class="btn btn-info m-1" (click)="openUpdatePageDailog(pageContent)">Update</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
    <!-- Update Page Dialog -->
    <ng-template #updateContentDialog>
      <h2 mat-dialog-title>Update Child Information</h2>
      <mat-dialog-content class="mat-typography">
        <form class="example-form" [formGroup]="updatePageForm">
          <mat-form-field  appearance="fill">
            <mat-label>Content </mat-label>
            <!-- <input type="text" matInput formControlName="contentvalue" [(ngModel)]="pData.contentvalue" > -->
            <textarea matInput formControlName="contentvalue"  [(ngModel)]="pData.contentvalue" cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="15" >></textarea>
          </mat-form-field>  
        </form>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close="no" >Cancel</button>
        <button mat-button mat-dialog-close="yes" [mat-dialog-close]="true"cdkFocusInitial (click)="UpdateContent()">Update</button>
      </mat-dialog-actions>
    </ng-template>
