<app-navbar></app-navbar>
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Testimonials</h2>
          <a *ngIf="authenticated!=null" (click)="openAddDailog()"><h3 class="m-3 btn btn-primary">Add Testimonial</h3></a>
          <a  routerLink="/account/login" *ngIf="authenticated==null"><h3 class="m-3 btn btn-primary">Add Testimonial</h3></a>
          <ol>
            <li><a routerLink="/">Home</a></li>
            <li>Testimonials</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="row">

          <div class="col-lg-6" *ngFor="let testi of testi.AllTestimonials" [hidden]="testi.status!='Accept'" >
            <div class="testimonial-item my-4  mt-lg-0" >
              <img src="../../assets/Images/man.jpg" class="testimonial-img" alt="">
              <h3>{{testi.full_Name}}</h3>
              <h4>{{testi.username}}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{testi.message}}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->
  <app-footer></app-footer>