
<app-navbar></app-navbar>

<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
  
      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
      <div class="carousel-inner" role="listbox">
  
        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(../../assets/Images/school-bus.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>{{home.homepageTitle.contentvalue}}</span></h2>
              <p class="animate__animated animate__fadeInUp">Join us in our mission to make school transportation safer and more convenient for everyone. With SchoolBus Tracker, you'll always know where your child is, giving you the confidence and peace of mind you deserve.</p>
              <a routerLink="/aboutus" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
  
        <!-- Slide 2 -->
        <!-- <div class="carousel-item" style="background-image: url(assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Lorem Ipsum Dolor</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
   -->
        <!-- Slide 3 -->
        <!-- <div class="carousel-item" style="background-image: url(assets/img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Sequi ea ut et est quaerat</h2>
              <p class="animate__animated animate__fadeInUp">Ut velit est quam dolor ad a aliquid qui aliquid. Sequi ea ut et est quaerat sequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.</p>
              <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>
   -->
      </div>
  
      <!-- <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
  
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a> -->
  
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
   <!-- ======= Features Section ======= -->
   <section id="features" class="features">
    <div class="container">
      <div class="section-title">
        <h2>Our Features</h2>
        <br><br>
        <p>Amazing features of our School Bus Tracking System</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="icon-box">
            <i class="bi bi-shield-check"></i>
            <h4>Real-Time Tracking</h4>
            <p>Track the location of the bus in real-time using our advanced GPS technology.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-bell"></i>
            <h4>Instant Alerts</h4>
            <p>Receive instant alerts for pick-up and drop-off times, ensuring you are always informed.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="bi bi-people"></i>
            <h4>Safe and Secure</h4>
            <p>We prioritize safety with secure tracking and regular updates on your child's journey.</p>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->

    <section id="services" class="services">
      <div class="container">
        <div class="section-title">
          <h2>FeedBack</h2>
          <br><br>
          <p>What our clients say About {{home.homepageTitle.contentvalue}}</p>
        </div>
        <div class="row">
          <div class="col-md-6 mt-4 mt-md-0" *ngFor="let testi of testi.AllTestimonials" [hidden]="testi.status!='Accept'">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">{{testi.full_Name}}</a></h4>
              <p>{{testi.message}}</p>
            </div>
          </div>
       
        </div>
  
      </div>
    </section><!-- End Services Section -->
    <!-- ======= Image Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container">
        <div class="section-title">
          <h2>Gallery</h2>
          <br><br>
          <p>Take a look at some moments captured with our buses</p>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-1.jpg" class="gallery-lightbox">
                <img src="https://media.istockphoto.com/id/515262698/photo/elementary-school-kids-climbing-on-to-a-school-bus.webp?b=1&s=170667a&w=0&k=20&c=5gL4gku_OjK4a0-aM0IEV5379VONwDDz7W2lSMGn0mU=" width="400px" height="200px"  alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-2.jpg" class="gallery-lightbox">
                <img src="https://media.istockphoto.com/id/1202387762/photo/school-bus-driver.webp?b=1&s=170667a&w=0&k=20&c=tL5Fn5ZyeQtbB4MGpHV2YDMLXoD4N2Yc6ct5DuPQ4Nc=" width="400px" height="400px" alt="" class="img-fluid">
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="gallery-item">
              <a href="assets/img/gallery/gallery-3.jpg" class="gallery-lightbox">
                <img src="https://media.istockphoto.com/id/1202387751/photo/multi-ethnic-junior-high-students-riding-school-bus.webp?b=1&s=170667a&w=0&k=20&c=MoEWNWGTMvKIVLDV3IaWehRDxmKUYDMp4UPAqE8lU5A=" width="400px" height="200px"  alt="" class="img-fluid">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Gallery Section -->
  
   
  </main><!-- End #main -->
  <app-footer></app-footer>
  